.btn-primary{
    background-color: $secondary;
    border: none;
    border-radius: 2px;
    color: white;
    &:disabled{
        background-color: lighten($color: $secondary, $amount: 15);
    }
    &:hover{
        background-color: darken($color: $secondary, $amount: 15);
    }
}

.btn-block{
    width: 100%;
}


.google-btn {    
    margin-top: 10px;
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
    
}
.link{
    color: white;
    &:hover{
        color: $secondary;
    }
}

.btnHome{
    color: white;
    font-size: 1.2rem;
    &:hover{
        color: $secondary;
    }
}

//Botones Submit
.btn_submitProduct{
    border: none;
    padding: 8px 0px 8px 0px;
    border-radius: 8px;
    color: lighten($color: $secondary, $amount: 10);
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $carrusel;
    &:hover{
        background-color: $opacityProduct;
        color: $secondary;
    }
}
//Botones para editar y borrar
.btn_edit,.btn_delete{
    width: 30px;
    height: 27px;
    border: none;
    border-radius: 6px;
    color: white;
}
.btn_edit{
    background-color: lighten($color: $google-blue, $amount: 10);
    &:hover{
        background-color: $google-blue;
        color: $secondary;
    }

}
.btn_delete{
    background-color: lighten($color: $botton-delete, $amount: 20);
    &:hover{
        background-color: $botton-delete;
    }
}

//Boton Carrito
.btn-comprar{
    border: 1px solid $secondary;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: $primary;
    color: white;
    &:hover{
        filter: drop-shadow(0 0 5px $secondary);  
    }
}

//Boton Cargar Archivo
.btnFile{
    width: 180px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: $opacityProduct;
    border-radius: 8px;
    &:hover{
        background-color: $primary;
        filter: drop-shadow(0 0 5px $secondary);   
    }
}

