// Colors
$primary: #0C171B;

$secondary: #D62565;

$mainbody:#252A38;

$opacityProduct: rgba(12,23,27,0.7);

$carrusel: #414759;

$cardProduct: #3C4453;

$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$botton-delete: rgb(133, 29, 29) 